.botao__idioma {
    display: flex;
    justify-content: flex-end;
}

.idioma__link {
    text-decoration: none;
}

.idioma__botao {
    background: transparent;
    border: none;
    padding: 0 2rem;
}

.idioma__img {
    width: 3rem;
    height: 3rem;
}

.div__menu {
    padding: 0rem 1rem;
    position: fixed;
    background: none;
}

.botao__menu {
    background: none;
    padding: 1rem;
}

.menu-lateral {
    background: #eeeeee;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 25vw;

    position: absolute;
    left: -100vw;
    transition: 0.30s;
    overflow-y: scroll;
}

.menu-lateral--ativo {
    left: 0;
    transition: 0.30s;
    height: 91vh
}

.texto-menu {
    font-size: 1.2rem;
}

.menu__botao__img {
    height: 2rem;
    width: 2rem;
}

.menu__lateral__logo {
    align-self: center;
    padding: 1rem;
    height: 15vh;
    width: 15vw;
}

.menu__lateral__link {
    align-items: center;
    color: #688682;
    display: flex;
    height: 2rem;
    padding: 1.5rem 1.5rem;
    font-size: 1.2rem;
}

.menu__lateral__link--ativo {
    color: #e7b955;
    border-left: 8px solid #e7b955;
    padding-left: 1rem;
}

@media screen and (min-width: 0) {
    .div__menu {
        padding: 0rem 1rem;
        position: fixed;
        background: none;
    }
    .botao__menu {
        background: none;
        padding: 1rem;
    }
    .menu-lateral {
        background: #eeeeee;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 75vw;
    
        position: absolute;
        left: -100vw;
        transition: 0.30s;
        overflow-y: scroll;
    }
    .menu-lateral--ativo {
        left: 0;
        transition: 0.30s;
        height: 92vh;
    }
    .menu__lateral__logo {
        align-self: center;
        padding: 1rem;
        height: 10rem;
        width: 18rem;
    }
}

@media screen and (min-width: 768px) {
    .div__menu {
        padding: 0rem 1rem;
        position: fixed;
        background: none;
    }
    
    .botao__menu {
        background: none;
        padding: 1rem;
    }
    
    .menu-lateral {
        background: #eeeeee;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 75vw;
    
        position: absolute;
        left: -100vw;
        transition: 0.30s;
        overflow-y: scroll;
    }
    
    .menu-lateral--ativo {
        left: 0;
        transition: 0.30s;
        height: 92.5vh
    }
    
    .texto-menu {
        font-size: 1.2rem;
    }
    
    .menu__botao__img {
        height: 3.5rem;
        width: 3.5rem;
    }
    
    .menu__lateral__logo {
        align-self: center;
        padding: 1rem;
        height: 15rem;
        width: 35rem;
    }
    
    .menu__lateral__link {
        align-items: center;
        color: #688682;
        display: flex;
        height: 2rem;
        padding: 2.5rem 1.5rem;
        font-size: 2rem;
    }
    
    .menu__lateral__link--ativo {
        color: #e7b955;
        border-left: 8px solid #e7b955;
        padding-left: 1rem;
    }
}
@media screen and (min-width: 1024px) {
    .div__menu {
        padding: 0rem 1rem;
        position: fixed;
        background: none;
    }
    
    .botao__menu {
        background: none;
        padding: 1rem;
    }
    
    .menu-lateral {
        background: #eeeeee;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 25vw;
    
        position: absolute;
        left: -100vw;
        transition: 0.30s;
        overflow-y: scroll;
    }
    
    .menu-lateral--ativo {
        left: 0;
        transition: 0.30s;
        height: 91vh
    }
    
    .texto-menu {
        font-size: 1.2rem;
    }
    
    .menu__botao__img {
        height: 2rem;
        width: 2rem;
    }
    
    .menu__lateral__logo {
        align-self: center;
        padding: 1rem;
        height: 10rem;
        width: 18rem;
    }
    
    .menu__lateral__link {
        align-items: center;
        color: #688682;
        display: flex;
        height: 2rem;
        padding: 1.5rem 1.5rem;
        font-size: 1.2rem;
    }
    
    .menu__lateral__link--ativo {
        color: #e7b955;
        border-left: 8px solid #e7b955;
        padding-left: 1rem;
    }
}