body {
    font-family: 'Montserrat', 'icones', sans-serif;
    background-color: #f8f8f8;
}

.div__titulo {
    text-align: center;
    padding-top: 5rem;
}

.titulo__principal {
    font-weight: 400;
    font-size: 2rem;
}

@media screen and (min-width: 0) {
    .titulo__principal {
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 768px) {
    .titulo__principal {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .titulo__principal {
        font-size: 2rem;
    }
}